body {
	margin: 0;
	/* background-color: #e3e8ef; */
}

 /**
		NAV
 */
nav.navbar {
	background-color: #008cba;
	align-items: center;
	box-shadow: 0 2px 1px 1px #669;
}

nav.navbar a.navbar-brand {
	font-size: 24px;
}

nav.navbar a.navbar-brand:hover {
	color: #DF691A;
}

nav.navbar div#navbarSupportedContent.collapse {
	/* display: flex;
	justify-content: flex-end; */
}

nav.navbar form {
	text-align: center;
	margin-left: 40%;
}

li.user {
	text-align: right;
	margin: auto;
}

.user li#not {
	vertical-align: middle;
	margin: auto 0;
}

.user li#not > a > svg {
	font-size: 2em;
	color: white;
}

.user li#not .row{
	margin: 0;
	display: -webkit-box;
}

.user img {
	max-width: 3em;
	border-radius: 50%;
	cursor: pointer;
}

/*
#notifications {
	display: inline-block;
	margin: auto;
	margin-right: 1em;
	vertical-align: middle;
}

#notifications .hamburger {
	margin-top: .66em;
	font-size: 24px;
	color: #e3e8ef;
	cursor: pointer;
}

#notifications #hamburger2 {
	display: none;
}

#notifications .hamburger:before {
	content: "\f0f3";
	font-family: FontAwesome;
}

#notifications_box {
	background-color: #e3e8ef;
	color: black;
	font-size: 12px;
	text-align: left;
	font-family: 'Nunito', sans-serif;

	z-index: 1;
	position: absolute;
	top: 50px;
	right: 50px;
	padding: 1em 0.5em;
	box-shadow: 0 0 10px 1px black;
	border-radius: 10px;
	opacity: 0;
	height: 0;
	transition: opacity 0.1s ease-out, height 1s linear;
}

#notifications_box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#notifications_box li.row {
	background-color: #e3e8ef;
	padding: 0;
	margin: 0;
	width: 100%;
}
#notifications #hamburger2:checked ~ #notifications_box{
	opacity: 1;
	max-height: 300px;
}

#notifications_box:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 27px;
	border:10px solid #343A40;
	border-color: transparent transparent #343A40 transparent;
}*/

#notifications_box li div.notification_content {
	padding-left: 10px;

}

#notifications_box li div.notification_content p{
	padding: 0;
	
}

#notifications_box li div.notification_options.col-3 {
	margin: 0;
}

#notifications_box li a.btn {
	border-radius: 10px;
	font-size: 12px;
	color: white;
	width: 35px;
	margin-bottom: 2px;
}
/*
#profile_options {
	background-color: #008cba;
	color: white;
	font-size: 18px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	display: none;

	z-index: 1;
	position: absolute;
	width: 200px;
	top: 60px;
	right: 10px;
	padding: 1em;
	box-shadow: 0 0 5px 1px black;
	opacity: 0;
	height: 0;
	transition: opacity 0.1s ease-out, height 1s linear 1s;
}

#profile_options:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 18px;
	border:10px solid #343A40;
	border-color: transparent transparent #343A40 transparent;
}

#profile_options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#profile_options ul li:first-of-type{
	border-bottom: 1px solid white;
}

#profile_options ul li{
	padding: 1em;
}

#profile_options ul li a {
	text-decoration: none;
	color: white;
}*/

/*
.mobile{
	padding-right: 0.5em;

}*/

/**
 FORMS
 */

.form-control {
	display: inline-block;
	transition: all 0.2s;
	background-color: #f4f4f4;
	color: #223;
}

.form-control:hover {
	background-color: #fff;
}

.form-control:focus {
	outline: 5px auto -webkit-focus-ring-color;
	color: #001;
}

.form-control::placeholder {
  color: #556;
  opacity: 1;
}


/**
	PAGINATION
*/

div#pagination_section {
	display: inline-block;
}

ul.pagination{
	margin: auto;
	text-align: center;
}

 
ul.pagination li > * {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #888;
	background-color: #eee;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

ul.pagination li > *:hover {
	z-index: 2;
	color: #00526e;
	text-decoration: none;
	background-color: #eee;
	border-color: #dee2e6;
}

ul.pagination li > *:focus {
	z-index: 2;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
			box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
}

ul.pagination li:first-child > * {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

ul.pagination li:last-child > * {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

ul.pagination li.active > * {
	z-index: 1;
	color: #fff;
	background-color: #008cba;
	border-color: #0079a1;
}
  
ul.pagination li.disabled > * {
	color: #eee;
	pointer-events: none;
	cursor: auto;
	background-color: #eee;
	border-color: #dee2e6;
}


/**
  FOOTER
*/

footer {
	background-color: #008cba;
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
	color: white;
}

footer h6 {
	color: #fff;
}


footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 0.9375rem;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.2;
}

footer > div#info a {
	color: #fff;
}

/** PROJECTS */

h1 {
	color: #001;
}

.col-12 h4 {
	color: #001;
}

#buttons_nav {
	background-color: #008cba;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 70px;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

#project_buttons:first-child:nth-last-child(2),
#project_buttons:first-child:nth-last-child(2) ~ #project_buttons {
	width: 50%;
}

#project_buttons {
	height: 100%;
	width: 33%;
	margin: 0px;
	padding: 0px;
}

#mobile_nav {
	display: none;
}


@media screen and (max-width: 990px){
	nav.navbar form {
		text-align: center;
		margin-left: 0;
	}
}

@media screen and (max-width: 500px){
	/*nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}

	nav form {
		justify-content: flex-end;
	}
	div.user {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}*/
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/

	div#pagination_section {
		margin: auto;
		font-size: 12px;
	}
	div#pagination_section ul.pagination {
		margin-bottom: 1em;
	}

}

@media screen and (max-width:315px){
	/*#buttons_nav {
		display: none;
	}

	#row_mobile {
		height: 80px;
		width: 100%
	}

	#mobile_nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #006064;
		align-items: center;
		height: 60px;
	}*/

	#project_buttons {
		height: 100%;
		width: 33%;
		margin: 0px;
		padding: 0px;
	}
}
