body {
	margin: 0;
	background-color: #ECE7F3;
}

 /**
		NAV
 */
nav {
	background-color: #0A1827;
	align-items: center;
}

nav.row{
	margin-right: 0;
	margin-left: 0;
}

nav > * {
	display: inline;
	margin: 0.5em 0;
	/*margin: 0.5em;
	margin-left:0.7em;*/
}

nav a.col-3 {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
	text-align:left;
	padding-left: 1em;
}

nav a:hover {
	color: #DF691A;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
}
/*
nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}*/

.user {
	text-align: right;
	margin: auto;
}

.user > * {
	vertical-align: middle;
}

.user img {
	max-width: 3em;
	border-radius: 50px;
	float: right;
	cursor: pointer;
}


#notifications {
	display: inline-block;
	margin: auto;
	margin-right: 1em;
	vertical-align: middle;
}

#notifications .hamburger {
	margin-top: 0.5em;
	font-size: 18px;
	color: white;
	cursor: pointer;
}

#notifications #hamburger2 {
	display: none;
}

#notifications .hamburger:before {
	content: "\f0f3";
	font-family: FontAwesome;
}

#notifications_box {
	background-color: white;
	color: black;
	font-size: 12px;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	/*visibility: collapse;*/

	z-index: 1;
	position: absolute;
	top: 50px;
	right: 50px;
	padding: 1em 0.5em;
	box-shadow: 0 0 10px 1px black;
	border-radius: 10px;
	opacity: 0;
	max-height: 0;
	transition: opacity 0.1s ease-out, height 1s linear 1s;
}

#notifications_box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#notifications_box li.row {
	background-color: white;
	padding: 0;
	margin: 0;
	width: 100%;
}

#notifications #hamburger2:checked ~ #notifications_box{
	/*visibility: visible;*/
	opacity: 1;
	max-height: 300px;
}

#notifications_box:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 27px;
	border:10px solid #343A40;
	border-color: transparent transparent #343A40 transparent;
}

#notifications_box li div.notification_content {
	padding-left: 10px;

}

#notifications_box li div.notification_content p{
	padding: 0;
	
}

#notifications_box li div.notification_options.col-3 {
	margin: 0;
}

#notifications_box li a.btn {
	border-radius: 10px;
	font-size: 12px;
	color: white;
	width: 35px;
	margin-bottom: 2px;
}

#profile_options {
	background-color: #0A1827;
	color: white;
	font-size: 18px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	/*visibility: collapse;*/

	z-index: 1;
	position: absolute;
	width: 200px;
	top: 60px;
	right: 10px;
	padding: 1em;
	box-shadow: 0 0 5px 1px black;
	opacity: 0;
	height: 0;
	transition: opacity 0.1s ease-out, height 1s linear 1s;
}

#profile_options:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 18px;
	border:10px solid #343A40;
	border-color: transparent transparent #343A40 transparent;
}

#profile_options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
.mobile{
	padding-right: 0.5em;

}*/

/**
 FORMS
 */

.form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #ECE7F3;
	transition: all 0.2s;
}

.form-control:hover {
	background-color: #9AC0BA;
}

.form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

.form-control::placeholder {
  color: #BBB;
  opacity: 1;
}

.form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}

.form-control:focus::placeholder {
  color: #333;
  opacity: 1;
}

/**
	PAGINATION
*/
div#pagination_section {
	text-align: center;
	margin: auto;
}

div#pagination_section ul.pagination{
	margin: auto;
	width: 17em;
	text-align: center;
}


div#pagination_section li.page-item:hover {
	background-color: #0A1827;
}

div#pagination_section li.page-link a{
	color: #fff;
}

/**
  FOOTER
*/

footer {
	background-color: #0A1827;
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
	color: white;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

/** PROJECTS */

h1 {
	color: #001;
}

.col-12 h4 {
	color: #001;
}

#buttons_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 70px;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

#project_buttons:first-child:nth-last-child(2),
#project_buttons:first-child:nth-last-child(2) ~ #project_buttons {
	width: 50%;
}

#project_buttons {
	height: 100%;
	width: 33%;
	margin: 0px;
	padding: 0px;
}

#mobile_nav {
	display: none;
}


@media screen and (max-width: 500px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}

	nav form {
		justify-content: flex-end;
	}
	div.user {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/

	div#pagination_section {
		margin: auto;
		font-size: 12px;
	}
	div#pagination_section ul.pagination {
		width: 19em;	
	}

}

@media screen and (max-width:315px){
	#buttons_nav {
		display: none;
	}

	#row_mobile {
		height: 80px;
		width: 100%
	}

	#mobile_nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #006064;
		align-items: center;
		height: 60px;
	}

	#project_buttons {
		height: 100%;
		width: 33%;
		margin: 0px;
		padding: 0px;
	}
}
