body {
	margin: 0;
	background-color: #ECE7F3;
}

 /**
		NAV
 */
nav {
	background-color: #0A1827;
	align-items: center;
}

nav.row{
	margin-right: 0;
	margin-left: 0;
}

nav > * {
	display: inline;
	margin: 0.5em 0;
	/*margin: 0.5em;
	margin-left:0.7em;*/
}

nav a.col-3 {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
	/*grid-column-start:1;
	grid-column-end: 2;*/
	text-align:left;
	padding-left: 1em;
}

nav a:hover {
	color: #DF691A;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
	/*grid-column-start:2;
	grid-column-end: 3;*/
}

nav div input, nav div label {
	display: none;
}
/*
nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}*/

#user {
	/*text-align: right;*/
	text-align: center;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
	float: right;
	/*grid-column-start: 2;
	grid-column-end: 3;*/
}

#user a {
	background-color: inherit;
	border: 0;
}

#mobile{
	padding-right: 0.5em;
	
}
/*
#user a#notification {
	color: white;
	font-size: 24px;
	padding-right: 0.25em;
	vertical-align: middle;
}*/

nav ul.nav.nav-pills {
	display: inline-block;
	text-align: center;
	font-size: 24px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  	background-color: #17A2B8;
}
.dropdown-menu{
  	top: 60px;
  	right: 0px;
  	left: unset;
  	width: 460px;
  	/*box-shadow: 0px 5px 7px -1px #c1c1c1;*/
  	padding-bottom: 0px;
  	padding: 0px;
}
.dropdown-menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 12px;
	border:10px solid #343A40;
	border-color: transparent transparent #343A40 transparent;
}
.head{
  	padding:5px 15px;
  	border-radius: 3px 3px 0px 0px;
}
.footer{
  	padding:5px 15px;
  	border-radius: 0px 0px 3px 3px; 
}
.notification-box{
  	padding: 10px 0px; 
}
.bg-gray{
  	background-color: #eee;
}
/*
@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}*/

/*
.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
}

.dropdown-content {
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;

}

button#notification:hover ~ .dropdown {
	display: block;
}*/

/**
 FORMS
 */

.form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #ECE7F3;
	transition: all 0.2s;
}

.form-control:hover {
	background-color: #9AC0BA;
}

.form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

.form-control::placeholder {
  color: #BBB;
  opacity: 1;
}

.form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}

.form-control:focus::placeholder {
  color: #333;
  opacity: 1;
}

/**
	PAGINATION
*/
div#pagination_section {
	text-align: center;
	margin: auto;
}

div#pagination_section ul.pagination{
	margin: auto;
	width: 17em;
	text-align: center;
}


div#pagination_section li.page-item:hover {
	background-color: #0A1827;
}

div#pagination_section li.page-link a{
	color: #fff;
}

/**
  FOOTER
*/

footer {
	background-color: #0A1827;
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
	color: white;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

/** PROJECTS */

h1 {
	color: #001;
}

.col-12 h4 {
	color: #001;
}

#buttons_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 70px;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

#project_buttons:first-child:nth-last-child(2),
#project_buttons:first-child:nth-last-child(2) ~ #project_buttons {
	width: 50%;
}

#project_buttons {
	height: 100%;
	width: 33%;
	margin: 0px;
	padding: 0px;
}

#mobile_nav {
	display: none;
}


@media screen and (max-width: 500px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}

	nav form {
		justify-content: flex-end;
	}
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/

	div#pagination_section {
		margin: auto;
		font-size: 12px;
	}
	div#pagination_section ul.pagination {
		width: 19em;	
	}

}

@media screen and (max-width:315px){
	#buttons_nav {
		display: none;
	}

	#row_mobile {
		height: 80px;
		width: 100%
	}

	#mobile_nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #006064;
		align-items: center;
		height: 60px;
	}

	#project_buttons {
		height: 100%;
		width: 33%;
		margin: 0px;
		padding: 0px;
	}
}
