html, body {
    width: 100%;
    min-height: 100%;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}
/*

POST

*/

div#container ol.breadcrumb {
	background-color: inherit;
	padding: 0;
}

.table {
	border: solid 6px;
	border-color: #008cba;
    box-shadow: 0 0 10px #000;
}

#container {
   /* margin: 5% 15% auto 15%;*/
   margin: 2em 10em;
    /*grid-template-rows: [row0] 25% [row1] auto [row2];
	grid-template-columns: [col0] 15% [col1] auto [col2] 15% [col3];*/
}

#thread {
	/*background-color: #2B3E50;*/
	margin-bottom: 2em;
}

#thread div#header {
	background-color: #333;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #001;
	padding: 1em;
	color: #fff;
}

form input.form-control {
	grid-column-start: 1;
	grid-column-end: 2;
}

#thread div.comment form button{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row: 1;
}


#thread div.col-lg-2:last-of-type {
	margin: auto;
	text-align: center;
}

#thread div#issue {
	margin: auto;
	text-align: justify;
}

#thread #profile_pic {
	width: 50px;
	height: 50px;
}

div.date p {
	margin-bottom: 0.2em;
}

div.date a{
	padding-left: 0;
}

.date a {
	text-decoration: none;
}

div.date button{
	padding-left: 5%;
	border: none;
	background: none;
}

#thread div.comment .col-lg-8:nth-child(2) {
	padding: 0 1em;
}

#thread div.comment:last-of-type {
	border-width: 0 5px 5px 5px;
	border-style: solid;
	border-color: #487884;
}

form label {
	grid-column-start: 1;
	grid-column-end: 2;
}

#thread div.comment {
	padding: 0.5em;
	background-color: #CCD9CE;
	padding: 1em;
	border-width: 0 5px 1px 5px;
	border-style: solid;
	border-color: #487884;
	color: #001;
	display: grid;
}

#thread div.comment p {
	margin: 0;
}

#thread div.comment div.user_options {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row: 1;
}

#thread div.comment h6 {
	color: #001;
}

#thread div.comment span {
	color: #001;
}

#thread div.comment div.user_options > * {
	color: #001;
	padding: 0;
	border: none;
	background: none;
}

#thread h2 {
	font-size: 30px;
}

#issue h2 {
	color: #fff;
	margin-bottom: 1em;
}

#thread #issue p {
	color: #ddd;
}

div.date {
	color: #ccc;
}

/*
div#thread form{
	width: 800%;
	padding-left: 100%;
}

form div.col-2 button{
	margin-left: 305%;
	width:130%;
}

div.col-2 button {
	margin-left: 88%;
}
*/
#thread .comment a, #thread #header a{
	background-color: inherit;
	grid-column-start: 2; 
	grid-column-end: 3;
	grid-row: 1;
	margin: auto;
	text-align: center;
	transition: background-color 0s;
}

#title.form-control {
	display: block;
}

#description.form-control {
	display: block;
}

form input.form_control{
	padding-left: 20px; 
	width: 100%;
}


#thread div.comment form {
	border-radius: 20px;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row: 1;
	display: grid;
}	


@media screen and (max-width: 635px){
	#container {
	    margin: 5% 5% auto 5%;
	}

	#thread {
		display: block;
	}

	div.row > div.col-3{
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.row > div.col-7 {
		margin-top: 1em;
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.row > div.col-2{
		max-width: 100%;
		flex: 0 0 100%;
		height: 100px;
	}

	div.row > div.col-8 {
		margin-top: 1em;
		max-width: 100%;
		flex: 0 0 100%;
	}

	#thread figcaption {
		font-size: 12px;
	}

	#thread img {
		max-width: 75%;
    	height: auto;
    }

	#thread #issue p {
		font-size: 14px;
	}

	#thread p {
		font-size: 12px;
	}

	#thread h2{
		font-size: 20px;
	}

	#thread div.comment form button{

		margin-left: 75%;
	
	}
}

@media screen and (max-width: 950px) and (min-width: 636px) {
	#container {
	    margin: 5% 10% auto 10%;
	}

	#thread figcaption {
		font-size: 12px;
	}

	#thread img {
		max-width: 100%;
    	height: auto;
    	margin: auto;
	}

	#thread #issue p {
		font-size: 14px;
	}

	#thread p {
		font-size: 12px;
	}

	#thread h2{
		font-size: 20px;
	}

	
	
}

@media screen and (max-width: 531px){
	div.col-8 button {
		margin-left: 70%;
	}
	
	#thread div.comment form button{

		margin-left: 40%;
	
	}
}