h2 {
	text-align: center;
	padding-top: 0.5em;
	/*color: #0A1827;*/
}


/**
	DASHBOARD
*/

div.container-fluid {
	min-height: 100vh;
	margin-bottom: 0;
}

div.container-fluid > div.row {
	min-height: 100vh;
}

/**
	ASIDE
*/

aside {
	text-align: center;
	color: #fff;
	background-color: #008cba;
	box-shadow: 1px 5px 5px 1px #888;
	padding: 0;
	margin: 1em 0;
}

aside p {
	font-size: 1vw;
}

aside > * {
	margin: 1em auto;
}

aside div#info {
	padding: 0;
	margin: 2em auto;
}

aside div#info p {
	margin-bottom: 0.5em;
}

aside div#info img {

	max-width: 150px;
	max-height: 150px;
	border-radius: 100%;
	box-shadow: 0px 0px 10px;
	margin-bottom: 1em;
}

aside div#statistics {
	margin: 3em auto;
}

/**
	SECTION
*/

div#options {
	margin: auto;
	text-align:center;
}
div#options button#new_project {
	margin: 1em auto;
}

div#options div.col-md-12{
	width: auto;
	/* margin-left: 0; */
	padding-left: 0;
	padding-right: 0;
}

div#options div.col-md-6 {
	text-align: center;
}

/* Search and create new bar */
div#options .row {
	display: flex;
	max-width: 100%;
	margin-left: 1em;
	margin-right:1em;
	margin-top: 0.5em;
}

.searchbar {
	display: flex;
	max-width: 100%;
	flex : 1;
}

div#options form > button.btn.btn-primary {
	width: auto;
}


div#options div#role_button {
	display: inline;
	width: auto;
	padding: 0;
	margin: 0;
	
}
#new_project {
	margin: auto;
	width: auto;
	vertical-align: middle;
}

div#options form {
	margin: auto;
	text-align: right;
}

div#options .form-control {
	background-color: #fff;
	color: #0A1827;
	width: auto;
	vertical-align: middle;
}

div#options .form-control:focus {
	background-color: #fff;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

div#options .form-control::placeholder {
	color: #0A1827;
	opacity: 1;
  }

div#options form.col-12 {
	padding: 0;
	text-align: center;
}

.hide {
	display: none;
}

section {
	margin-top: 1em;
}

section p {
	margin-top: 2rem;
	text-align: center;
}

section button#new_project.btn.btn-primary {
	margin: 2em 1em;
	padding: 1em;
}

/* PROJECTS TAB */
div#projects > a {
	text-decoration: none;
}

section > a {
	text-decoration: none;
}

section div.project {
	background-color: #e3e8ef;
	margin: 1em 3em;
	padding: 1em;
	box-shadow: 0px 0px 1px #636161;
	display: grid;
	grid-template-columns: 20% auto auto;
}

section div.project:hover {
	background-color: #eaeff5;
}

/* Hover effect is in search .css */


section div.project > h5 {
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

section div.project > p {
	grid-column-start: 2;
	margin: auto;
	text-align: center;
	grid-column-end: 3;
	color: #111;
}

section div.project .project_info{
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto 0 auto auto;
	text-align: right;
	color: #111;
}

section div.project .project_info > *{
	display: inline-block;
	margin: auto 1em;
}

section div.project .project_info > button.btn.btn-secondary{
	background-color: inherit;
	display: inline;
	font-size: 14px;
	margin: 0.5em auto;
	padding: 0.5em 1em;
}

/**
	EDIT PROFILE
*/

div#dashboard {
	opacity: 1;
}

div.container.edit_profile, div.container.new_project {
	left:0;
	right:0;
	top:5em;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 1;
	display: block;
	background-color: #5bc0de;

	padding: 1em;
	max-width: 40em;
	max-height: 30em;
	text-align: justify;
}

div.container.edit_profile h2, div.container.new_project h2 {
	font-size: 24px;
	text-align: center;
}

div.container.edit_profile > a, div.container.new_project > a {
	margin: 0.25em 0 0 0;
}

div.container.edit_profile div.form_area, div.container.new_project div.form_area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1em 0;
}

div.container.new_project div.form_area.custom-checkbox {
	display: block;
}

div.container.new_project div.form_area.custom-checkbox input {
	vertical-align: middle;
}

div.container.edit_profile div.form_area_date {
	display: block;
	margin: 1em 0;
}

div.container.edit_profile label, div.container.new_project label {
	display: inline;
	text-align: left;
	clear: both;
    margin: auto 1em;
}

div.container.edit_profile input, div.container.new_project input {
	align-self: center;
}

div.container.edit_profile div#form_options, div.container.new_project div#form_options {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	text-align: center;
}

@media screen and (max-width: 767px) {
	aside {
		text-align: center;
		box-shadow: 0 0px 5px 1px #888;
		padding: 0;
	}

	aside p {
		font-size: 14px;
	}

	aside div#info {
		padding: 0;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: white;
	}

	aside div#info p {
		margin-bottom: 0.5em;
	}

	aside div#info img {
		max-width:50%;
		max-width: 5em;
		border-radius: 50%;
		box-shadow: 0px 0px 10px;
		margin-bottom: 1em;
	}

	aside div#statistics {
		margin: auto;
	}

	aside a {
		margin: auto;
	}


	section div.project {
		display: block;
	}

	section div.project .project_info{
		margin: 1em 0 0 0;
		text-align: center;
	}

	section div.project .project_info > button.btn.btn-secondary{
		font-size: 12px;
		display: block;
		margin: 1em auto 0 auto;
		padding: auto;
	}

}

@media screen and (max-width: 500px){
	/* Search and create new bar */
	div#options .row {
		display: inline-block;
		max-width: 100%;
		margin-left: 0;
		margin-right:0;
		padding: 0;
		margin-top: 0.5em;
	}

	.searchbar {
		display: flex;
		max-width: 100%;
		flex : 1;
	}

	div#options form > button.btn.btn-primary {
		display: inline;
	}


	div#options div#role_button {
		margin: auto;
		text-align: center;
		flex: 0;
		padding:0;

	}
	#new_project {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto;
	}

	/* PROJECTS */

	section div.project {
		margin: 1em;
		display: block;
	}
		
	section div.project > h5 {
		font-size: 26px;
	}

	section div.project > p {
		font-size: 18px;
	}

	section div.project .project_info{
		font-size: 14px;
	}

	section div.project .project_info > *{
		display: inline-block;
		margin: auto 1em;
	}

	section div.project .project_info > button.btn.btn-secondary{
		font-size: 12px;
		margin: 0.5em auto;
		padding: 0.5em 1em;
	}
}
