h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}
/**
	CONTENT
*/

section {
	text-align: center;
}

section.container-fluid {
	min-height: 100vh;
	margin: 2em auto;
	max-width: 75%;
}	


/** 
	NAVTABS
*/

section.container-fluid div.row{
	margin: 0;
	padding: 0;
}

section.container-fluid .row .nav-tabs {
	margin-top: 1em;
}

.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 2;
	grid-row: 2;
}

.nav-tabs .nav-item {
	flex-grow: 1;
}

/**
	MEMBERS
*/

div.user_search_settings, form.user_search_settings {
	display: flex;
	justify-content: space-between;
	grid-row: 1;
	width: auto;
	margin: 2em 2em;
}

div.user_search_settings  label, form.user_search_settings label {
	color: #001;
	margin: auto;
}


.member-row{
	border-top: 1px solid #001;
	background-color: #ECE7F3;
}


div.user_search_settings input.form-control, form.user_search_settings input.form-control {
	margin: 0 0 0 1em;
	width: 50%;
	flex-grow: 1;
}

div.user_search_settings button.btn, form.user_search_settings button.btn {
	margin: 0;
}

.col-lg-6 {
	display: inline;
}

div#members {
	margin: 0;
}

div#members.row {
	margin: 0;
}

div#members div.member-row:last-of-type {
	margin-bottom: 2em;
}

div#members div.member-row {
	padding: 0;
	margin: 0;
	text-align: left;
	margin: 1em 2em;
	color: #001;
	box-shadow: 0 0 10px #ECE7F3;
}


div#members div.member-row div img {
	max-width: 5em;
	max-height: 5em;
	border-radius: 50%;
	margin: 1em 1em;

	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);

}

div#members div.member-row h3 {
	display: inline;
	font-size: 20px;
}

div.buttons {
	text-align: right;
	margin: auto;
	padding-top: 2em;
	padding-right: 1em; 
	float: right;
}

div.buttons a.promote{
	text-align: center;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
	background-color: #ECE7F3;
}

/** 
	REQUESTS
*/

div#requests {
	margin: 0;
	
}

div#requests div.request:last-of-type {
	margin-bottom: 2em;
}

div#requests div.request {
	width: 100%;
	padding: 1em;
	background-color: #e3e8ef;
	color: #001;
	border-top: 1px solid #001;
}


div#requests div.request p {
	margin: auto;
	text-align: left;
}

div#requests div.request div.option_buttons {
	text-align: right;
	/*margin: auto 3em auto auto;*/
}


@media screen and (max-width: 991px) {
	div#members div.member-row {
		text-align: center;
	}

	div#members div.member-row h3 {
		display: block;
	}

	 div.buttons {
		text-align: center;
		margin: 1em 0;
	}
}


@media screen and (max-width: 767px) {
	div#requests div.request p {
		text-align: center;
		margin-bottom: 1em;
	}
	div#requests div.request div.option_buttons {
		text-align: center;
	}
}

@media screen and (max-width: 580px){
	div.user_search_settings, form.user_search_settings {
		display: block;
		width: auto;
		margin: 1em 0;
	}

	div.user_search_settings  label, form.user_search_settings label {
		margin: auto;
	}

	div.user_search_settings input.form-control, form.user_search_settings input.form-control {
		margin: 0.5em auto;
		width: 50%;
		display: block;
	}
	
	section.container-fluid {
		margin: 2em auto;
		max-width: 85%;
	}

	div.buttons {
		text-align: center;
		margin: auto;
		padding: 1em 0;
	}
}


@media screen and (max-width: 500px){
	div#members {
		margin: 1em 1em;
	}

	div.buttons button.btn {
		font-size: 12px;
		padding: 0.5em;
	}

	div.user_search_settings, form.user_search_settings {
		display: block;
		width: auto;
		margin: 1em 0 0 0;
	}

	div.user_search_settings input.form-control, form.user_search_settings input.form-control {
		margin: 0.5em auto;
		width: 50%;	
	}

	section.container-fluid {
		margin: 1em auto;
		padding: 0;
	}

}