h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}
/* PROJECT AND DETAILS */

div#all_projects.container-fluid {
	min-height: 100vh;
	margin: auto 15%;
	width: auto;
	padding: 0 0 1em 0;
}
div#all_projects.container div.row {
	margin: auto;
}

div#all_projects .project {
	background-color: #CCD9CE;
	padding: 1em;
	color: #001;
	margin: 1em 0;
}

.project:hover {
	background-color: #9AC0BA;
}

.project div.row {
	margin: auto;
}

.project div.title_desc {
	margin: auto;
}

.project a.project_title{
	margin: auto;
	transition: color 0.2s;
}

.project a.project_title:hover{
	color: #DF691A;
}

.project  p.project_description {
	text-align: justify;
}

.project p.active_members {
	text-align: center;
	margin: auto;
	color: #001;
}

#filter button {
	margin: 1em 0;
}

.project div button.btn {
	margin: auto;
	background-color: #d0e8e8;	
	color: #003;
}


.project_title {
	font-size: 1.6em;
	color: #001;
}

.project_description {
	font-size: 0.8em;
	color: #001;
}


@media screen and (max-width: 575px) {
	.project div.title_desc {
		text-align: center;
	}

	.project  p.project_description {
		text-align: center;
	}
}