div.row {
    width: 100%;
    margin: 0;
}


div.col-12:nth-child(2){
    border: 1px solid #666677;
    padding: 1em;
}

div.row:nth-child(3) {
    display: grid;
}

div.col-12 {
    padding: 0;
}

div.task_options.col-9 {
    text-align: right;
}

div#task h1 {
    margin: 0.5em 0;
}

div.coordinator_options {
    color: white;
}

div.col-12.alert.alert-dismissible.alert-danger{
    padding: 1em;
}

form#delete_task {
    display: inline;
}

section#task_page div.assigned_users p{
    display: inline;
    font-size: 12px;
}

section#task_page div.assigned_users img{
	grid-column-start: 3;
	grid-column-end: 4;
	max-width: 25%;
	min-width: 1em;
	border-radius: 50px;
	margin: auto 0 auto auto;
}

section#task_page form#assign_user_form {
    margin: 0 1em 0 0;
    display: inline;
}

div.task_options {
    max-width:60%;
}

#checkbox {
    display: inline-flex;
}

#checkbox p {
    margin: 0;
    margin-right: 1em;
    display: inline-flex;
}

section#task_page form#assign_user_form.hidden {
    display: none;
}

section#task_page input.user_name.form-control {
    width: auto;
    display: inline;
    vertical-align: middle;
    margin: auto;
}

section#task_page button.send_name {
    display: inline;
}

section#task_page div#checkbox {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 100%;
    height: 100%;
}

section#task_page input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: auto;
    display: inherit;
    float: right;
    margin-right: 2em;
}


section#task_page div#task_info form.hidden {
    display: none;
}

section#task_page div#task_info div#task_description {
    margin: 2em 0;
    padding: 1em;
    text-align: left;
    box-shadow: 0px 0px 1px #636161;
}

section#task_page div#task_info form {
    display: block;
    margin: 2em 0;
}

section#task_page div#task_info form button {
    margin-top: 1em;
} 
@media screen and (max-width: 700px) {
    div.col-12:nth-child(2){
        border: 1px solid #666677;
        padding: 1em;
        display: grid;
        grid-template-rows: 10% 50% 30% 10%;
    }

    div.col-12 div.row {
        display: block;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    div.assigned_users {
        display:block;
        margin-left: auto;
        margin-right: auto;
        grid-row-start: 1;
        grid-row-end: 2;        
        width: 100%;
        max-width: 100%;
    }

    div.coordinator_options {
        text-align: center;
        grid-row: 3;
    }

    div.task_options a {
        margin-bottom: 0.5em;
    }

    section#task_page div.assigned_users p {
        display: block;   
        margin-top: 0;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #checkbox p {
        margin-top:1em;
        margin-bottom: 1em;
        display: block;
        width: 100%;
        max-width: 100%;
    }

    div.task_options.col-8 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    section#task_page div#checkbox {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
        display: block;
    }

    section#task_page input[type="checkbox"] {
        display: block;
        margin-top: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    section#task_page div.assigned_users img {
        margin-bottom: 1em;
        max-width: 15%;
    }

}
