.jumbotron {
    background-color: #008cba;
    box-shadow: 0px 0px 2px #636161;
    margin-top: 1em;
}

.jumbotron h3 {
    color: whitesmoke;
}

.form-group label {
    color: whitesmoke;
}

#lead .btn {
    margin: 0;
    float: right;
    border-color: #ddd;
}
