body {
	margin: 0;
	background-color: #ECE7F3;
}

 /**
		NAV
 */
nav {
	background-color: #0A1827;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > * {
	display: inline;
	margin: 0.5em;
	margin-left:0.7em;
}

nav a {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
}

nav a:hover {
	color: #DF691A;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #0A1827;
	transition: all 0.2s;
}

nav > form > .form-control:hover {
	background-color: #9AC0BA;
}

nav > form > .form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

nav > form > .form-control::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

nav > form > .form-control::placeholder {
  color: #333;
  opacity: 1;
}

nav > form > .form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}


/**
	SECTION
*/

.container-fluid {
	margin: 0;
	padding: 0;
	vertical-align: top;
	min-height: 100vh;
	color: black;
}

div.row {
	margin: 0;
}

.container-fluid > div.row {
	min-height: 100vh;
}

aside div#active {
	outline: 1px solid #558A8C;
	background-color: #CCD9CE;
	border-right: 0;
	border-bottom: 0;
}

aside div div {
	outline: 2px solid #508689;
	padding: 4em 2em;
	background-color: #9AC0BA;
}

aside.col-md-2#navbar {
	padding: 0;
	margin: 0;
	height: auto;
	text-align: center;
}

aside.col-1#navbar h4{
	font-size: 18px;
	padding: 3em;
}


section {
	margin: 2em 0;
	padding: 1em;
}


section div#search_bar input.form-control {
	display: inline-block;
	width: auto;
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 1px solid #558A8C;
}

section div#search_bar input.form-control:focus {
	outline: 1px solid #508689;
}


section div#search_bar button.btn {
	display: inline-block;
	vertical-align: inherit;
}

div > button {
	background-color: #0A1827;
	transition: all 0.2s;
}

div > button:hover {
	background-color: #AA000C;
}

section div#reports {
	margin: 2em 0;
}

section div#reports div.report {
	margin: 1em 0;
}

section div#reports div.report div.report_principal_info {
	border-top: 1px solid #508689;
	background-color: #ECE7F3;
	padding: 1em;
	display: grid;
	grid-template-columns: 40% 10% auto;
}

section div#reports div.report div.report_principal_info p{
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto 0;
}
section div#reports div.report div.report_principal_info a{
	grid-column-start: 2;
	grid-column-end: 3;
	margin: auto 0;
	text-align: center;
}

section div#reports div.report div.report_principal_info div.options{
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: right;
	margin: auto 0;
}

section div#reports div.report div.report_details {
	outline: 1px solid #558A8C;
	background-color: #CCD9CE;
	padding: 1em;
}

section div#reports div#pagination_section {
	text-align: center;
}

section div#reports div#pagination_section ul.pagination{
	margin: auto;
	width: auto;
	text-align: center;
}


section div#pagination_section li.page-item:hover {
	background-color: #0A1827;
}

/*
div#users, div#comments {
	background-color: #9AC0BA;
	padding: 1em 3em;
	margin: 0 auto 3em auto;
	box-shadow: 0 0 10px #1b323a;
	height: auto;
}

div#users.col-lg-4, div#comments.col-lg-4 {
	height: 100%;
}

div.user_notification, div.comment_notification {
	color: #111;
	cursor: pointer;
	background-color: #F0E7CE;
	padding: 1em;
	margin: 2em 0;
}

div.user_notification:hover, div.comment_notification:hover {
	outline: 1px solid #0A1827;
	background-color: #F5F5F5;
}

div.user_notification p, div.comment_notification p{
	margin: 0;
	letter-spacing: 0.5px;
}*/


/**
		FOOTER
*/
footer {
	background-color: #0A1827;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 580px){
	nav input.form-control {
		display: none;
	} 
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/
}

@media screen and (max-width: 1060px) {
	aside h4 {
		font-size: 20px;
	}
	aside.col-md-2 {
		padding: 0;
	}
}

@media screen and (max-width: 935px){
	section div#reports div.report div.report_principal_info {
		grid-template-columns: 40% 15% auto;
	}

	aside h4 {
		font-size: 22px;
		color: #B05315;
	}
}
@media screen and (max-width: 840px) {
	section div#reports div.report p, section div#reports div.report a {
		font-size: 14px;
	}

	section div#reports div.report div.report_principal_info div.options button.btn{
		font-size: 14px;
		padding: 0.5em;
	}
}

@media screen and (max-width: 767px) {
	aside div div#active {
		border-width: 0 2px 0 0;
	}

	aside div div {
		border-width: 0 2px 2px 2px;
	}
}


@media screen and (max-width: 671px) {
	aside div div{
		padding: 1em;
		margin: auto;
	}

	aside div div h4 {
		font-size: 18px;
		margin: auto;
		text-align: center;
	}
	
	section div#reports div.report div.report_principal_info {
		grid-template-columns: 50% 15% auto;
	}

	section div#reports div.report div.report_principal_info div.options button.btn{
		font-size: 12px;
		width: 75%;
	}
}

@media screen and (max-width: 590px) {

	section div#reports div.report div.report_principal_info div.options button.btn{
		font-size: 12px;
		width: 75%;
	}
}

@media screen and (max-width: 450px) {
	section div#reports div.report div.report_principal_info {
		display: block;
	}

	section div#reports div.report div.report_principal_info > * {
		text-align: center;
		display: block;
	}

	section div#reports div.report div.report_principal_info p {
		margin-bottom: 1em;
	}

	section div#reports div.report div.report_principal_info a {
		margin-bottom: 1em;
	}

	section div#reports div.report div.report_principal_info div.options button.btn {
		display: block;
		margin: 1em auto;
	}

	section div#reports div#pagination_section ul.pagination a{
		font-size: 12px;
	}
}