body {
	margin: 0;
	background-color: #006064;
	height: 100%;
	width: 100%
}
/**
		NAV
 */
nav {
	background-color: #002527;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

nav > * {
	display: inline;
	margin: 1em;
}

nav a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	
}

nav > form {
	display: flex;
	flex-grow: 1;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #203c47;
	color: #AAA;
}

nav > form > .form-control:hover {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav > form > .form-control:focus {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
} 

nav ul li {
	list-style: none;
	display: inline;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}


#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}


/**
		FOOTER
*/
footer {
	background-color: #002527;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

/*

POST

*/

.table {
	border: solid 6px;
	border-color: #003;
    box-shadow: 0 0 10px #000;
}

#container {
   /* margin: 5% 15% auto 15%;*/
   margin: 2em 10em;
    grid-template-rows: [row0] 25% [row1] auto [row2];
	grid-template-columns: [col0] 15% [col1] auto [col2] 15% [col3];
}

#thread {
	background-color: #2B3E50
}

#thread table {
	margin: 0;
}

table thead tr#thread_main_text {
	background-color: #182f35;
}

#thread td {
	font-size: 125%;
}

#thread td.date {
	vertical-align: middle;	
	text-align: center;
	padding: 0 1em;
}

#thread tbody th {
	text-align: center;
}

input.form-control {
	margin-left: 0;
	width: 90%;
	background-color: #203c47;
}

input.form-control:hover {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

input.form-control:focus {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}



@media screen and (max-width: 635px){
	nav input.form-control {
		display: none;
	} 

	#container {
	    margin: 5% 5% auto 5%;
	}
	
	#thread td p{
		font-size: 2vw;
	}

	#thread td h2{
		font-size: 4.5vw;
	}

	#thread th p{
		font-size: 3.5vw;
	}

	#thread th img {
		max-width: 100%;
    	height: auto;
	}
/*
	#thread td {
		display: block;
		border: 0;
	}

	#thread td.date{	
		text-align: center;
		margin: auto;
	}

	#thread td.date p{ 
		display: inline-block;
	}
*/
	#thread label {
		font-size:3.5vw;
	}

	#thread div input.form-control {
		max-height: 50%;
	}
}

@media screen and (max-width: 950px) and (min-width: 636px) {
	#container {
	    margin: 5% 10% auto 10%;
	}

	#thread td p{
		font-size: 2vw;
	}

	#thread th {
		vertical-align: middle;
	}

	#thread th p{
		font-size: 2.5vw;
	}

	#thread td h2{
		font-size: 3.5vw;
	}

	#thread th img {
		max-width: 100%;
    	height: auto;
	}

	#thread label {
		font-size:2.5vw;
	}
}