nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #ECE7F3;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

/*

POST

*/

.breadcrumb >.breadcrumb-item.active a{
	color: #893700;
	text-decoration: none;
}

.issue h2 {
	color: red;
}

div#container ol.breadcrumb {
	background-color: inherit;
	padding: 0;
}

.table {
	border: solid 6px;
	border-color: #003;
    box-shadow: 0 0 10px #000;
}

#container {
   margin: 2em 10em;
}

#thread {
	background-color: #2B3E50;
	margin-bottom: 2em;
}

#thread div#header {
	background-color: #0A1827;
	border-width: 5px 5px 0 5px;
	border-style: solid;
	border-color: black;
	padding: 1em;
}


#thread div.col-lg-2:last-of-type {
	margin: auto;
	text-align: center;
}

#thread div#issue {
	margin: auto;
	text-align: justify;
}
/*
#thread img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}*/

#thread div.comment {
	padding: 1em;
	border-width: 0 5px 1px 5px;
	border-style: solid;
	border-color: black;
}

#thread div.comment .col-lg-8:nth-child(2) {
	padding: 0 1em;
}

#thread div.comment:last-of-type {
	border-width: 0 5px 5px 5px;
	border-style: solid;
	border-color: black;
}

#thread div.comment {
	padding: 1em;
}

.col-8 > p {
	color:#0A1827;
}

#thread .table-dark {
	background-color: #CCD9CE;
}

div input.form-control {
	display: inline;
	width: 100%;
}

#thread .comment a, #thread #header a{
	background-color: inherit;
	color: #3e4a56;
	grid-column-start: 3; 
	grid-column-end: 4;
	grid-row: 1;
	margin: auto;
	text-align: center;
	transition: background-color 0s;
}

/*@media screen and (max-width: 990px) {
	nav input.form-control {
		display: none;
	} 

	#container {
	    margin: 5% 5% auto 5%;
	}


	#thread #header{
		display: block;
	}

	#thread div div {
		margin: auto;
		width: auto;
	}

	#thread figcaption {
		font-size: 12px;
	}

	#thread img {
		max-width: 75%;
    	height: auto;
	}

	#thread #issue p {
		font-size: 14px;
	}

	#thread p {
		font-size: 12px;
	}

	#thread h2{
		font-size: 20px;
	}
}*/

@media screen and (max-width: 635px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	} 

	#container {
	    margin: 5% 5% auto 5%;
	}

	#thread {
		display: block;
	}

	div.row > div.col-3{
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.row > div.col-7 {
		margin-top: 1em;
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.row > div.col-2{
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.row > div.col-8 {
		margin-top: 1em;
		max-width: 100%;
		flex: 0 0 100%;
	}

	#thread figcaption {
		font-size: 12px;
	}

	#thread img {
		max-width: 75%;
    	height: auto;
    }

	#thread #issue p {
		font-size: 14px;
	}

	#thread p {
		font-size: 12px;
	}

	#thread h2{
		font-size: 20px;
	}
	
	/*
	#thread td p{
		font-size: 2vw;
	}

	#thread td h2{
		font-size: 4.5vw;
	}

	#thread th p{
		font-size: 3.5vw;
	}

	#thread th img {
		max-width: 75%;
    	height: auto;
	}

	#thread label {
		font-size:3.5vw;
	}

	#thread div input.form-control {
		max-height: 50%;
	}

	#thread td.user_options a {

	}*/
}

@media screen and (max-width: 950px) and (min-width: 636px) {
	#container {
	    margin: 5% 10% auto 10%;
	}

	#thread figcaption {
		font-size: 12px;
	}

	#thread img {
		max-width: 100%;
    	height: auto;
    	margin: auto;
	}

	#thread #issue p {
		font-size: 14px;
	}

	#thread p {
		font-size: 16px;
	}

	#thread h2{
		font-size: 30px;
	}
	
	/*#thread td p{
		font-size: 2vw;
	}

	#thread th {
		vertical-align: middle;
	}

	#thread th p{
		font-size: 2.5vw;
	}

	#thread td h2{
		font-size: 3.5vw;
	}

	#thread th img {
		max-width: 100%;
    	height: auto;
	}

	#thread label {
		font-size:2.5vw;
	}*/
}