nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	align-items: center;
	justify-content: space-between;
}

#mobile{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-right: 20%;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left:0;
	
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	/*margin-right: 1em;*/
	grid-column-start: 1;
	grid-column-end: 2;
	padding-right:20%;

}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

/*

THREADS

*/
#title, #description{
	width: 100%;
	display: block;
}


div#container {
	min-height: 100vh;
	z-index: auto;
}

div#container div#options {
	display: flex;
	justify-content: space-between;
}

div#container div#options ol.breadcrumb {
	background-color: inherit;
}

div#container button.btn {
	margin: auto 1em;
}

div#container h1 {
	margin: 0 0 0.5em 0;
}

.table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border: solid 3px;
	border-color: #003;
    box-shadow: 0 0 5px #000;
    grid-row-start: row1;
    grid-row-end: row2;
}

tr#descriptions_table{
	text-align: center;
	padding: 0;
}

.table thead th.desc {
	margin: auto;
	padding: 0;
	vertical-align: top;

}

#header {
	grid-row: 1;
	grid-column: 2;
	color:  #2B3E50;
	align-items: center;
}

#header h1{
	color: #0A1827;
	margin: 1em;
}

#threads {
	grid-column-start: col1;
	grid-column-end: col2;
	grid-row-start: row1;
	grid-row-end: row2;
}

#threads th {
	font-size: 125%;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	vertical-align: middle;
	background-color: #CCD9CE;
}

a:hover {
	box-shadow: 0 0 0px #000;
}

#threads td {
	/*height: 80px;*/
	font-size: 125%;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	vertical-align: middle;
	background-color: #CCD9CE;
	text-align: center;
}


#threads th.desc {
	background-color: #0A1827;
}

#thread_main_text {
	background-color:#002E30;
}


#threads a{
	display: block;
	text-decoration: underline;
	color: #0A1827;
	cursor: pointer;
}

#threads a:hover {
	color: #DF691A;
}

div#container {
	min-height: 100vh;
}

#overlay {
	min-height: 100vh;
	z-index: 200;
	width: 75%;
	margin: auto;
}

@media screen and (max-width: 635px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}

	.table {
		width: 90%;
	}
	#threads td {
		font-size: 3vw;
	}

	#threads th {
		font-size: 3.5vw;	
		grid-row: 1;
		grid-column: 2;
		color:  #2B3E50;
		align-items: center;
	}

	#overlay h3{
		font-size: 32px;
		text-align: center;
	}
}

@media screen and (max-width: 950px) and (min-width: 636px) {
	#threads td {
		font-size: 1em;
	}

	#threads th {
		font-size: 1.5em;
	}
}