body {
	margin: 0;
	background-color: #006064;
}
 /**
		NAV
 */
nav {
	background-color: #002527;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

nav > * {
	display: inline;
	margin: 1em;
}

nav a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	
}

nav > form {
	display: flex;
	flex-grow: 1;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #203c47;
	color: #AAA;
}

nav > form > .form-control:hover {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav > form > .form-control:focus {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
} 

nav ul li {
	list-style: none;
	display: inline;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

button#notification:hover ~ .dropdown {
	display: block;
}




/**
	DASHBOARD
*/

div#dashboard {
	margin: 1em;
	display: grid;
	grid-template-columns: 40% auto;
	height: 100vh;
}

/**
	ASIDE
*/

aside {
	min-width: 10em;
	margin: 0 auto auto auto;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #004649;
	text-align: center;
	color: #e3eaed;
	display: grid;
	grid-template-rows: 30% 50% auto;
	box-shadow: 0 0px 5px 1px black;

}

aside p {
	font-size: 1vw;
}

aside > * {
	margin: 1em auto;
}

aside div#info {
	grid-row-start: 1;
	grid-row-end: 2;
	margin: 2em auto 0.5em auto;
}

aside div#info p {
	margin-bottom: 0.5em;
}

aside div#info img {
	max-width:50%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px;
	margin-bottom: 1em;
}

aside div#statistics {
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
}

aside button.btn {
	border-radius: 50px;
}

/**
	SECTION
*/

div#options {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0 3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div#options form {
	margin: 0 auto;
	width: 50%;
	text-align: right;
}

div#options > form > input.form-control {
	display: inline;
	width: 50%;
	background-color: #003638;
}

div.btn-group {
	margin: 0 0 0 1em;
}


section {
	grid-column-start: 2;
	grid-column-end: 3;
}

section button#new_project.btn.btn-primary {
	margin: 2em 1em;
	padding: 1em;
}

section div.project {
	background-color: #B2DFDB;
	margin: 1em 3em;
	padding: 1em 0;
	box-shadow: 0 0 5px #000;
	color: #000;
	display: grid;
	grid-template-columns: 15% auto auto;
}
/*
section div div.project > * {
	display: inline;
}*/

section div.project > h5 {
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	font-weight: bold;
	text-align: center;
	color: #111;
}

section div.project > p {
	grid-column-start: 2;
	margin: auto;
	grid-column-end: 3;
	color: #111;
}

section div.project .project_info{
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto;
	text-align: center;
	color: #111;
}

section div.project .project_info > *{
	display: inline-block;
	margin: auto 1em;
}

section div.project .project_info > button.btn.btn-secondary{
	background-color: #004649;
	font-size: 14px;
}

section div.project:hover {
	background-color: #80DEEA;
	cursor: pointer;
}

@media screen and (max-width: 500px){
	nav input.form-control {
		display: none;
	} 
	div#dashboard {
		display: block;
	}
	aside {
		display: none;
	}

	div#options {
		display: block;
		text-align: center;
	}
	div#options > button.btn.btn-primary {
		display: block;
	}

	div#options form {
		display: inline;
		text-align: center;	
	}
	.btn {
		vertical-align: inherit;
	}

	div.btn-group {
		margin: 0 0 0 1em;
	}

	section button#new_project.btn.btn-primary {
		margin: 1em auto;
		padding: 1em;
	}

	section div.project:hover {
		color: #FFF;
	}

	section div.project {
		margin: 1em 3em;
		padding: 1em;
		box-shadow: 0 0 5px #000;
		color: #000;
		display: grid;
		grid-template-columns: 20% auto 50%;
		grid-template-rows: 50% auto;
	}
	/*
	section div div.project > * {
		display: inline;
	}*/

	section div.project > h5 {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto;
		font-size: 4vw;
		text-align: center;
		color: #d3eced;
	}

	section div.project > p {
		grid-column-start: 2;
		margin: auto 1em;
		font-size: 3vw;
		text-align: center;
		grid-column-end: 3;
		color: #FFF;
	}

	section div.project .project_info{
		grid-column-start: 3;
		grid-column-end: 4;
		margin: auto;
		text-align: center;
		display: grid;
		grid-template-columns: 50% auto;
	}

	section div.project .project_info > *{
		font-size: 2.5vw;
	}

	section div.project .project_info > span, section div.project .project_info > p {
		grid-column-start: 1;	
	}

	section div.project .project_info > button {
		grid-column-start: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	section div.project .project_info > button.btn.btn-secondary{
		font-size: 12px;
	}
}


@media screen and (max-width: 720px) and (min-width: 501px){
	div#dashboard {
		display: block;
	}
	aside {
		background-color: #1b323a;
		color: #e3eaed;
		box-shadow: 0 0 20px black;
		display: grid;
		grid-template-columns: 60% auto;
		max-height: 15em;
		min-width: 0;
		padding: 1em;
		margin-bottom: 2em;
	}

	aside p {
		font-size: 0.75em;
	}

	/*aside > * {
		margin: 1em auto;
	}*/

	aside div#info {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 60% 40%;
		margin: 1em;
	}

	aside div#info #info_text {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: auto;
	}

	aside div#info img {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto;
		max-width:75%;
		max-height: 75%;
		border-radius: 50%;
		box-shadow: 0px 0px 10px;
	}

	aside div#statistics {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin: auto;
	}

	aside > a {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: 0;
	}


	div#options {
		display: block;
		text-align: center;
	}
	div#options > button.btn.btn-primary {
		display: block;
	}

	div#options form {
		display: inline;
		margin: auto;
		text-align: center;	
	}
	.btn {
		vertical-align: inherit;
	}

	div.btn-group {
		margin: 0 0 0 1em;
	}
	section button#new_project.btn.btn-primary {
		margin: 1em auto;
		padding: 1em;
	}
}

@media screen and (min-height: 1024px) and (orientation:portrait){
	div#dashboard {
		display: block;
	}
	aside {
		background-color: #1b323a;
		color: #e3eaed;
		box-shadow: 0 0 20px black;
		display: grid;
		grid-template-columns: 60% auto;
		max-height: 15em;
		padding: 1em;
		min-width: 0;
		margin-bottom: 2em;
	}

	aside p {
		font-size: 0.75em;
	}

	/*aside > * {
		margin: 1em auto;
	}*/

	aside div#info {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 60% 40%;
		margin: 1em;
	}

	aside div#info #info_text {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: auto;
	}

	aside div#info img {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto;
		max-width:100%;
		max-height: 100%;
		border-radius: 50%;
		box-shadow: 0px 0px 10px;
	}

	aside div#statistics {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin: auto;
	}

	aside > a {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: 0;
	}


	div#options {
		display: block;
		text-align: center;
	}
	div#options > button.btn.btn-primary {
		display: block;
	}

	div#options form {
		display: inline;
		margin: auto;
		text-align: center;	
	}
	.btn {
		vertical-align: inherit;
	}

	div.btn-group {
		margin: 0 0 0 1em;
	}
	section button#new_project.btn.btn-primary {
		margin: 1em auto;
		padding: 1em;
	}
}