body {
	margin: 0;
	background-color: #868e96;
}
 /**
		NAV
 */
nav {
	background-color: #2B3E50;
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

nav > * {
	display: inline;
	margin: 1em;
}

nav a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	
}

nav > form {
	display: flex;
	flex-grow: 1;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
} 

nav ul li {
	list-style: none;
	display: inline;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}


/**
	DASHBOARD
*/

div#dashboard {
	display: grid;
	grid-template-columns: 20% auto;
	height: 100vh;
}

/**
	ASIDE
*/

aside {
	min-width: 10em;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #dbd8d2;
	text-align: center;
	color: #2B3E50;
	display: grid;
	grid-template-rows: 40% 40% auto;
	box-shadow: 0 0 20px;
}

aside p {
	font-size: 1vw;
}

aside > * {
	margin: 1em auto;
}

aside div#info {
	grid-row-start: 1;
	grid-row-end: 2;
	margin: 2em auto 0.5em auto;
}

aside div#info p {
	margin-bottom: 0.5em;
}

aside div#info img {
	max-width:50%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px;
	margin-bottom: 1em;
}

aside div#statistics {
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
}

/**
	SECTION
*/

div#options {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0 3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div#options form {
	margin: 0 auto;
	width: 50%;
	text-align: right;
}

div#options > form > input.form-control {
	display: inline;
	width: 50%;
}

div.btn-group {
	margin: 0 0 0 1em;
}


section {
	grid-column-start: 2;
	grid-column-end: 3;
}

section button#new_project.btn.btn-primary {
	margin: 2em 1em;
	padding: 1em;
}


section div.project {
	background-color: #8d9dad;
	margin: 1em 3em;
	padding: 1em 0;
	box-shadow: 0 0 5px #000;

	display: grid;
	grid-template-columns: 15% auto auto;
	/*grid-template-rows: 50% 50%;*/
}
/*
section div div.project > * {
	display: inline;
}*/

section div.project > h5 {
	/*grid-row-start: 1;
	grid-row-end: 2;*/
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	text-align: center;
}

section div.project > p {
	/*grid-row-start: 2;
	grid-row-end: 3;*/
	grid-column-start: 2;
	margin: auto;
	grid-column-end: 3;
}

section div.project .project_info{
	/*grid-row-start: 1;
	grid-row-end: 3;*/
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto;
	text-align: center;
}

section div.project .project_info > *{
	display: inline-block;
	margin: auto 1em;
}

section div.project .project_info > button.btn.btn-secondary{
	font-size: 14px;
}

section div.project:hover {
	background-color: #788796;
	cursor: pointer;
}


@media screen and (max-width: 720px){
	div#dashboard {
		display: block;
	}
	aside {
		background-color: #dbd8d2;
		color: #2B3E50;
		box-shadow: 0 0 20px;
		display: grid;
		grid-template-columns: 60% auto;
		max-height: 15em;
	}

	aside p {
		font-size: 0.75em;
	}

	/*aside > * {
		margin: 1em auto;
	}*/

	aside div#info {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 60% 40%;
		margin: 1em;
	}

	aside div#info #info_text {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: auto;
	}

	aside div#info img {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto;
		max-width:75%;
		max-height: 75%;
		border-radius: 50%;
		box-shadow: 0px 0px 10px;
	}

	aside div#statistics {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin: auto;
	}

	aside > a {
		grid-column-start: 2;
		grid-column-end: 3;
		margin: 0;
	}


	div#options {
		display: block;
		text-align: center;
	}
	div#options > button.btn.btn-primary {
		display: block;
	}

	div#options form {
		display: inline;
		margin: auto;
		text-align: center;
	}
	div.btn-group {
		display: inline;
		margin: 0 0 0 1em;
	}
	section button#new_project.btn.btn-primary {
		margin: 1em auto;
		padding: 1em;
	}
}