body {
	margin: 0;
	background-color: #006064;
}
/**
		NAV
 */
nav {
	background-color: #002527;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > * {
	display: inline;
	margin: 1em;
}

nav a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

/*
		Container
*/

section {
	text-align: center;
}

section.container-fluid {
	min-height: 100vh;
	margin: 2em auto;
	max-width: 75%;
}

/*
	DIV extra-buttons
*/

#info_buttons {
	margin: auto;
}

#info_buttons button{
	width: 8em;
	margin: 0.5em 0;
}

section.container-fluid .row .nav-tabs {
	margin-top: 3em;
}

.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 2;
	grid-row: 2;
}

.nav-tabs .nav-item {
	flex-grow: 1;
}

/**
	SPRINTS
*/

#sprints {
	grid-column: 2;
	grid-row: 3;
}

div a {
	color: #EEE;
}

div.list-group-item svg{
	margin-right: 0.5em;
	font-size: 24px;
}

div.list-group-item {
	padding: 1em;
	display: grid;
	grid-template-columns: 50% auto auto;	
}

div.list-group-item p{
	vertical-align: inherit;
	margin: auto 0;
	color: #002;
}

div.list-group-item a{
	color: #002;
	cursor: pointer;
	text-align: left;
	vertical-align: super;
}

div.list-group-item span {
	margin: auto 0 auto auto;
}

div.sprint-task {
	background-color: #B2EBF2;
	padding: 1em 1em 1em 3em;
	display: grid;
	grid-template-columns: 5% auto auto;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

div.sprint-task:first-child {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

div.sprint-task svg{
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 18px;
}

div.sprint-task p{
	color: #002;
	grid-column-start: 2;
	grid-column-end: 3;
	margin: auto 0;
	text-align: left;
}

div.sprint-task input[type="checkbox"] {
	width: 1.5em;
	height: 1.5em;
	margin: auto 0 auto auto;
	grid-column-start: 3;
	grid-column-end: 4;
}

div.comment {
	background-color: #3797A4;
	padding: 1em 1em 1em 5em;
	display: grid;
	grid-template-columns: 5% 15% auto;
}

div.comment img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50px;
	grid-column-start: 1; 
	grid-column-end: 2; 
}

div.comment h6 {
	font-weight: bold;
	grid-column-start: 2; 
	grid-column-end: 3;
	text-align: left; 
	margin: auto 1em;
}

div.comment > * {
	display: inline;
	margin: auto;
}

div.comment > p {
	background-color: #DDD;
	color: black;
	text-align: justify;
	padding: 1em;
	border-radius: 50px;
	width: auto;
	margin: auto auto auto 1em;

}


	
/**
	TASKS
*/


/**
	MEMBERS
*/

div#members .header h4{
	color: #001;
	padding: 1em;
	background-color: #E0F7FA; 
}

div#members div.member {
	margin: 1em auto;
}

div#members div.member img{
	margin: auto;
	max-width: 75%;
	max-height: 75%;
	border-radius: 50%;
}

div#members div.member a{
	margin: 1em auto;
	font-weight: bold;
	display: block;
}


/**
		FOOTER
*/
footer {
	background-color: #2B3E50;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 562px){
	section.container-fluid {
		min-height: 100vh;
		margin: 2em auto;
		width: 100%;
	}
	#info_buttons {
		margin: auto;
	}

	#info_buttons button {
		display: block;
		margin: 0.5em auto;
	}
}