body {
	margin: 0;
	background-color: #006064;
}
/**
		NAV
 */
nav {
	background-color: #002527;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > * {
	display: inline;
	margin: 1em;
}

nav a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;

}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	color: #AAA;
	background-color: #203c47;
}

nav > form > .form-control:hover {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav > form > .form-control:focus {
	transition: background-color 0.2s;
	background-color: #2b4e5b;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

/**
	CONTENT
*/

section {
	text-align: center;
}

section.container-fluid {
	min-height: 100vh;
	margin: 2em auto;
	max-width: 75%;
}	

/** 
	NAVTABS
*/


section.container-fluid .row .nav-tabs {
	margin-top: 1em;
}

.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 2;
	grid-row: 2;
}

.nav-tabs .nav-item {
	flex-grow: 1;
}




div#members {
	background-color: #006064;
	width: 100%;
	margin: 1em 3em;
	min-height: 100vh;
}

div#members div.member {
	margin: 1em 2em;
	background-color: #3797A4;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px #002527;
}

div#members div.member > * {
	margin: auto;
}

div#members div.member img {
	max-width: 5em;
	max-height: 5em;
	border-radius: 50%;
	margin: 1em 2em;
}

div#members div.member h3 {
	margin: auto auto auto 0;
}

div#members div.member button {
	margin: auto 3em auto auto;
}
/**
		FOOTER
*/
footer {
	background-color: #2B3E50;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 500px){
	div#members {
		margin: 1em 1em;
	}

	div#members div.member {
		margin: 1em 0;
	}
	div#members div.member img {
		max-width: 3em;
		max-height: 3em;
		margin: 1em 1em;
	}

	div#members div.member h3 {
		font-size: 16px;
		margin-left: 0;
	}

	div#members div.member button{
		font-size: 12px;
		margin-right: 1em;
	}
}

@media screen and (max-width: 580px){
	div#members div.member h3 {
		font-size: 20px;
	}
}