nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

/**
	CONTENT
*/

section {
	text-align: center;
}

section.container-fluid {
	min-height: 100vh;
	margin: 2em auto;
	max-width: 75%;
}	

/** 
	NAVTABS
*/


section.container-fluid .row .nav-tabs {
	margin-top: 1em;
}

.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 2;
	grid-row: 2;
}

.nav-tabs .nav-item {
	flex-grow: 1;
}

/**
	MEMBERS
*/

div#add_user {
	display: flex;
	justify-content: space-between;
	grid-row: 1;
	width: auto;
	margin: 2em 2em;
}

div#add_user label {
	margin: auto;
}
/*
nav > form > .form-control:hover {
}

nav > form > .form-control:focus {
} 

nav > form > .form-control::placeholder {
  color: #BBB;
  opacity: 1;
}

nav > form > .form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}

nav > form > .form-control:focus::placeholder {
  color: #333;
  opacity: 1;
} */

div#add_user input.form-control {
	margin: 0 0 0 1em;
	width: 50%;
	flex-grow: 1;
}

div#add_user button.btn {
	margin: 0;
}


/* MEMBERS */

div#members {
	background-color: #002527;
	margin: 0;
	min-height: 100vh;
}

div#members div.member:last-of-type,
 div#requests div.request:last-of-type {
	margin-bottom: 2em;
}

div#members div.member,{
	margin: 1em 2em;
	background-color: #9AC0BA;
	color: #0A1827;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px #002527;
}

div#members div.member > *{
	margin: auto;
}

div#members div.member img {
	max-width: 5em;
	max-height: 5em;
	border-radius: 50%;
	margin: 1em 2em;
}

div#members div.member h3 {
	margin: auto auto auto 0;
}

/* REQUESTS */


div#requests {
	background-color: #002527;
	margin: 0;
	padding: 1em 0;
	color: #0A1827;
}

div#requests div.request:last-of-type {
	margin-bottom: 2em;
}

div#requests div.request {
	padding: 1em;
	margin: 1em 2em;
	background-color: #9AC0BA;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px #002527;
}

div#requests div.request > * {
	margin: auto;
}

div#requests div.request p {
	margin-left: 1em;
	text-align: left;
}

div#requests div.request div.option_buttons {
	margin: auto 3em auto auto;
}

div#members div.member button, div#requests div.request button {
	margin: auto 3em auto auto;
	color: #ECE7F3;
	background-color: #0A1827;
	
}


@media screen and (max-width: 500px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}
	div#mobile {
		display: none;
	}

	div#members {
		margin: 1em 1em;
	}

	div#members div.member {
		margin: 1em 0;
	}
	div#members div.member img {
		max-width: 3em;
		max-height: 3em;
		margin: 1em 1em;
	}

	div#members div.member h3 {
		font-size: 16px;
		margin-left: 0;
	}

	div#members div.member button{
		font-size: 12px;
		margin-right: 1em;
	}

	div#add_user {
		display: block;
		justify-content: space-between;
		grid-row: 1;
		width: auto;
		margin: 2em 0;
	}

	div#add_user label {
		margin: auto;
		display: block;
	}

	div#add_user input.form-control {
		margin: auto 0;
		width: 60%;
		display: inline-block;
	}

	div#add_user button.btn {
		margin: auto 0;
		display: inline-block;
	}
}

@media screen and (max-width: 580px){
	nav input.form-control {
		display: none;
	} 
	div#mobile ul {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/
	section.container-fluid {
		margin: 2em 0;
		padding: 0;
		max-width: 100%;
	}

	div#add_user {
		display: block;
	}

	div#add_user button{
		vertical-align: inherit;
	}

	div#members {
		margin: 0;
	}

	div#members div.member {
		display: block;
	}

	div#members div.member button:last-of-type{
		margin-right: 1em;
	}
	div#members div.member h3 {
		font-size: 12px;
		margin-left: 0.25em;
	}
	div#members div.member img {
		max-width: 3em;
		max-height: 3em;
		margin: 1em 0;
	}
	div#members div.member button {
		padding: 0 2px;
		font-size: 12px;
		margin: 1em 0.5em;
	}

	div#requests {
		margin: 0;
	}

	div#requests div.request {
		padding: 0.5em;
	}

	div#requests div.request p{
		font-size: 12px;
	}

	div#requests div.request div.option_buttons {
		margin: 0;
	}

	div#requests div.request div.option_buttons button{
		font-size: 12px;
		padding: 2px 6px;
	}
}

@media screen and (max-width: 770px) and (min-width: 581px){
	section.container-fluid {
		min-height: 100vh;
		margin: 2em auto;
		max-width: 100%;
	}
	div#members div.member h3 {
		font-size: 14px;
		margin-left: 0;
	}

	div#members div.member img {
		max-width: 3em;
		max-height: 3em;
		margin: 1em 0.5em;
	}

	div#members div.member button {
		font-size: 12px;
		margin: auto 0.5em;
	}

	div#members div.member button:last-of-type{
		margin-right: 1em;
	}

	div#requests div.request p{
		font-size: 14px;
		margin-left: 0.5em;
	}

	div#requests div.request div.option_buttons {
		margin-right: 1em;
	}
}

@media screen and (max-width: 990px) and (min-width: 771px){
	div#members div.member h3 {
		font-size: 18px;
	}

	div#members div.member img {
		margin: 1em 0.5em;
	}

	div#members div.member button{
		font-size: 12px;
	}

	div#requests div.request p{
		font-size: 14px;
		margin-left: 0.5em;
	}

	div#requests div.request div.option_buttons {
		margin-right: 1em;
	}
}