

/* CENAS */ 

body {
	margin: 0;
	background-color: #F6EDD3;
}

 /**
		NAV
 */
 nav {
	background-color: #0A1827;
	display: grid;
	/*justify-content: space-between;*/
	align-items: center;
	display: grid;
	grid-template-columns: 16% auto 13%;
}

nav > * {
	display: inline;
	margin: 0.5em;
	margin-left:0.7em;
}

nav a {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
	grid-column-start:1;
	grid-column-end: 2;
	text-align:center;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
	grid-column-start:2;
	grid-column-end: 3;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #0A1827;
	transition: all 0.2s;
}

nav > form > .form-control:hover {
	background-color: #9AC0BA;
}

nav > form > .form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	align-items: center;
	justify-content: space-between;
}

#mobile{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-right: 20%;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left:0;
	
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	/*margin-right: 1em;*/
	grid-column-start: 1;
	grid-column-end: 2;
	padding-right:20%;

}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

button#notification:hover ~ .dropdown {
	display: block;

}

nav > form > .form-control::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

nav > form > .form-control::placeholder {
  color: #333;
  opacity: 1;
}

nav > form > .form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}
/**
	CONTENT
*/

section {
	text-align: center;
}

section.container-fluid {
	min-height: 100vh;
	margin: 2em auto;
	max-width: 75%;
}	

/** 
	NAVTABS
*/

section.container-fluid div.row{
	margin: 0;
	padding: 0;
}

section.container-fluid div.row div.col-12 {
	padding: 0;
}

section.container-fluid .row .nav-tabs {
	margin-top: 1em;
}

.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 2;
	grid-row: 2;
}

.nav-tabs .nav-item {
	flex-grow: 1;
}

/**
	MEMBERS
*/

div.user_search {
	display: flex;
	justify-content: space-between;
	grid-row: 1;
	width: auto;
	margin: 2em 2em;
}

div.user_search  label {
	margin: auto;
}

div.user_search input.form-control {
	margin: 0 0 0 1em;
	width: 50%;
	flex-grow: 1;
}

div.user_search button.btn {
	margin: 0;
}


div#members {
	background-color: #002527;
	margin: 0;
	min-height: 100vh;
}

div#members.row {
	margin: 0;
}

div#members div.member:last-of-type {
	margin-bottom: 2em;
}

div#members div.member {
	text-align: left;
	margin: 1em 2em;
	background-color: #3797A4;
	box-shadow: 0 0 10px #002527;
}


div#members div.member img {
	max-width: 5em;
	max-height: 5em;
	border-radius: 50%;
	margin: 1em 1em;
}

div#members div.member h3 {
	display: inline;
	font-size: 20px;
}

div#members div.member div.buttons {
	text-align: right;
	margin: auto;
}

/** 
	REQUESTS
*/

div#requests {
	background-color: #002527;
	margin: 0;
	padding: 1em 0;
	
}

div#requests div.request:last-of-type {
	margin-bottom: 2em;
}

div#requests div.request {
	margin: 1em 2em;
	padding: 1em;
	background-color: #3797A4;
}

div#requests div.request > * {
	/*margin: auto;*/
}

div#requests div.request p {
	margin: auto;
	text-align: left;
}

div#requests div.request div.option_buttons {
	text-align: right;
	/*margin: auto 3em auto auto;*/
}

div.pagination_div {
	text-align: center;
}


/**
		FOOTER
*/
footer {
	background-color: #2B3E50;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 991px) {
	div#members div.member {
		text-align: center;
	}

	div#members div.member h3 {
		display: block;
	}

	div#members div.member div.buttons {
		text-align: center;
		margin: 1em 0;
	}
}


@media screen and (max-width: 767px) {
	div#requests div.request p {
		text-align: center;
		margin-bottom: 1em;
	}
	div#requests div.request div.option_buttons {
		text-align: center;
	}

	div#pagination_section {
		margin: auto;
	}
}

@media screen and (max-width: 580px){
	nav {
		grid-template-columns: 50% 20% auto;
		text-align: right;
	}

	nav a {
		text-align: left;
	}
	nav input.form-control {
		display: none;
	} 
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/

	section.container-fluid {
		margin: 2em auto;
		max-width: 85%;
	}
}


@media screen and (max-width: 500px){
	div#members {
		margin: 1em 1em;
	}

	div#members div.member div.buttons button.btn {
		font-size: 12px;
		padding: 0.5em;
	}

	div.user_search {
		display: block;
		width: auto;
		margin: 1em 0 0 0;
	}

	div.user_search input.form-control {
		margin: 0.5em auto;
		width: 50%;	
	}

	section.container-fluid {
		margin: 1em auto;
		padding: 0;
	}

	div#pagination_section {
		margin: auto;
		font-size: 10px;
	}

}