h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}
/*

THREADS

*/

div#container {
	min-height: 100vh;
	z-index: auto;
}

div#container div#options {
	display: flex;
	justify-content: space-between;
}

div#container div#options ol.breadcrumb {
	background-color: inherit;
}

#description, #title {
	width: 100%;
	display: block;
}

div#container button.btn {
	margin: auto 1em;
}

div#container div#lead {
	text-align: right;
}

div#container h1 {
	margin: 0 0 0.5em 0;
}


#overlay {
	min-height: 100vh;
	z-index: 200;
	width: 75%;
	margin: auto;
}

@media screen and (max-width: 880px) {
	
	#overlay {
		width: 90%;
	}

	div#overlay h3 {
		font-size: 36px;
		text-align: center;
	}

	label {
		font-size: 14px;
	}

	div#lead a {
		font-size: 14px;
	}
}