nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

button#notification:hover ~ .dropdown {
	display: block;

}

/*

THREADS

*/

div#container {
	min-height: 100vh;
	z-index: auto;
}

div#container div#options {
	display: flex;
	justify-content: space-between;
}

div#container div#options ol.breadcrumb {
	background-color: inherit;
}

#description, #title {
	width: 100%;
	display: block;
}

div#container button.btn {
	margin: auto 1em;
}

div#container h1 {
	margin: 0 0 0.5em 0;
}


#overlay {
	min-height: 100vh;
	z-index: 200;
	width: 75%;
	margin: auto;
}

@media screen and (max-width: 550px) {
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/
}


@media screen and (max-width: 880px) {
	div#mobile ul {
		display: none;
	}
	
	
	div#overlay h3 {
		font-size: 36px;
		text-align: center;
	}

	label {
		font-size: 14px;
	}

	p.lead a {
		font-size: 14px;
	}
}