

/* CENAS */ 

body {
	margin: 0;
	background-color: #F6EDD3;
}

 /**
		NAV
 */
nav {
	background-color: #0A1827;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > * {
	display: inline;
	margin: 0.5em;
	margin-left:0.7em;
}

nav a {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #0A1827;
	transition: all 0.2s;
}

nav > form > .form-control:hover {
	background-color: #9AC0BA;
}

nav > form > .form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	margin-right: 1em;
}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

button#notification:hover ~ .dropdown {
	display: block;

}

nav > form > .form-control::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

nav > form > .form-control::placeholder {
  color: #333;
  opacity: 1;
}

nav > form > .form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}

/*

THREADS

*/

div#container {
	min-height: 100vh;
	z-index: auto;
}

div#container div#options {
	display: flex;
	justify-content: space-between;
}

div#container div#options ol.breadcrumb {
	background-color: inherit;
}

div#container button.btn {
	margin: auto 1em;
}

div#container h1 {
	margin: 0 0 0.5em 0;
}


#overlay {
	min-height: 100vh;
	z-index: 200;
	width: 75%;
	margin: auto;
}


/**
		FOOTER
*/
footer {
	background-color: #002527;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 550px) {
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}
	nav input.form-control {
		display: none;
	}
	div#mobile {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/
}


@media screen and (max-width: 880px) {
	div#mobile ul {
		display: none;
	}
	
	
	div#overlay h3 {
		font-size: 36px;
		text-align: center;
	}

	label {
		font-size: 14px;
	}

	p.lead a {
		font-size: 14px;
	}
}