

/* CENAS */ 

body {
	margin: 0;
	background-color: #F6EDD3;
}

 /**
		NAV
 */
 nav {
	background-color: #0A1827;
	display: grid;
	/*justify-content: space-between;*/
	align-items: center;
	display: grid;
	grid-template-columns: 16% auto 13%;
}

nav > * {
	display: inline;
	margin: 0.5em;
	margin-left:0.7em;
}

nav a {
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 4px;
	color: #CCD9CE;
	grid-column-start:1;
	grid-column-end: 2;
	text-align:center;
}

nav > form {
	flex-grow: 2;
	display: flex;
	align-items:center;
	justify-content: center;
	grid-column-start:2;
	grid-column-end: 3;
}

nav > form > .form-control {
	display: inline-block;
	width: 50%;
	background-color: #4F8082;
	color: #0A1827;
	transition: all 0.2s;
}

nav > form > .form-control:hover {
	background-color: #9AC0BA;
}

nav > form > .form-control:focus {
	background-color: #CCD9CE;
	color: #0A1827;
	outline: 5px auto -webkit-focus-ring-color;
}

nav div input, nav div label {
	display: none;
}

nav ul {
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-flex;
}

h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

#user {
	align-items: center;
	justify-content: space-between;
}

#mobile{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-right: 20%;
}

#user img {
	max-width: 3em;
	border-radius: 50px;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left:0;
	
}

#user button {
	background-color: inherit;
	border: 0;
}

#user button#notification {
	color: white;
	font-size: 24px;
	/*margin-right: 1em;*/
	grid-column-start: 1;
	grid-column-end: 2;
	padding-right:20%;

}

#notification {
    background-color: #4CAF50;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
}

.dropdown {
	display: none;
	position: absolute;
	right: 7%;
	top: 2em;
    /*position: relative;
	display: inline-block;*/
}

.dropdown-content {
	/*margin-left: auto;
	margin-right: 0;*/
	/*position: absolute;*/
    /*background-color: #f1f1f1;*/
    /*min-width: 200px;*/
	position: relative;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .modal {
    text-decoration: none;
	display: block;
	position: relative;
	/*margin: auto;
	padding: auto;*/
}

button#notification:hover ~ .dropdown {
	display: block;

}

nav > form > .form-control::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

nav > form > .form-control::placeholder {
  color: #333;
  opacity: 1;
}

nav > form > .form-control:hover::placeholder {
  color: #333;
  opacity: 1;
}

/* PROJECT AND DETAILS */

div#all_projects {
	min-height: 100vh;
	margin: 1em 10%;
}

.project {
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 50% auto auto;
	grid-template-rows: 2fr 2fr;
	background-color: #B2DFDB;
	padding: 10px;
	color: #001;
	box-shadow: 0 0 5px #000;
}

.project:first-child{
	margin-top: 3%;
}

.project > a.project_title{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	padding-top: 15%;
	margin-left: 5%;
}

.project > a.project_title:hover{
	color: #8f9193;
	text-decoration: none;
}

.project > p.project_description {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;	
	vertical-align: middle;
	margin: auto 1em;
	padding: 0 1em 0 0;
	text-align: justify;
}

.project > p.active_members {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;	
	text-align: center;
	margin: auto;
	color: #001;
}

#filter button {
	margin: 1em 0 1em 0;
	margin-left: 70%;
}

.project button {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;		
	margin: auto;
	background-color: #d0e8e8;	
	color: #003;
}

.project button:hover {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;		
}



.project_title {
	font-size: 1.6em;
	color: #001;
}

.project_description {
	font-size: 0.8em;
	color: #001;
}


/**
		FOOTER
*/
footer {
	background-color: #002527;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer > * {
	margin: 2em auto;
}

footer a, footer p {
	font-size: 14px;
}

footer > div#contacts {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer > div#info {
	grid-column-start: 2;
	grid-column-end: 3;
}

@media screen and (max-width: 1046px) {
	p.active_members {
		font-size: 14px;
	}
}

@media screen and (max-width: 800px){
	nav input.form-control {
		display: none;
	} 
	div#mobile ul {
		display: none;
	}
	nav div label {
		background-color: inherit;
		color: #DF691A;
		margin: 0 0.5em;
		display: inline;
		font-size: 34px;
		cursor: pointer;
	}
	nav div label:before {
		content: "\2630";
	}
	nav div input:checked ~ label:before{
		content: "\2715";
	}
	
	/**   USAR JAVASCRIPT  */
	/*
	nav div input:checked ~ div#mobile ul {
		visibility: visible;
		display: block;
		width: 100%;
		background-color: white;
		transition-delay: 0s;
	}*/

	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 635px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}

	p.project_description {
		display: none;
	}

	a.project_title {
		font-size: 20px;
	}
}

@media screen and (max-width: 420px){
	nav div input:checked ~ ul {
		visibility: visible;
		display: inline;
		float: left;
		padding-top: 0.5em;
		transition-delay: 0s;
	}

	.project > p.active_members br{
		display: none;
	}

	a.project_title {
		font-size: 18px;
	}

	.project > p.active_members {
		font-size: 12px;
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 1;
		text-align: left;
		margin-left: 0.5em;
	}
}