div.container-fluid{
    padding: 0 5em;
}

div.jumbotron.jumbotron-fluid {
    box-shadow: 5px 0px 5px #888;
    margin-bottom: 0;
    background-color: #008cba;
    color: white;
}

div.jumbotron a{
    color: #E99002;
}

div img {
    width: 100%;
}

div#middle {
    /* text-align: right; */
}

div#middle_left {
    text-align: left;
}

div.content{
    margin: 2em 0 0 0;
    padding: 2em;
    box-shadow: 0px 0px 5px #888;
}

div.content div {
    vertical-align: middle;
}

div.content p {
    margin-top: 1em;
}

div.content:last-of-type {
    margin-bottom: 2em;
}

div#video {
    text-align: center;
}

footer{
    background-color: #008cba;
    color: white;
    text-align: center;
    
}

footer div div {
    margin: 2em 0;
}