h2 {
	text-align: center;
	padding-top: 0.5em;
	color: #0A1827;
}

/**
	CONTENT
*/


div#dashboard {
	min-height: 100vh;
	text-align: center;
}

div#dashboard div#join_project {
	width: auto;
	margin: 1em auto;
}

div#dashboard div#join_project button.btn {
	color: white;
}

div#dashboard aside#description {
	margin: 1em auto;
	background-color: inherit;
	color: #001;
	text-align: justify;
}

div#dashboard aside#description h2 {
	text-align: center;
	margin-bottom: 0.5em;
}



section#members {
	background-color: #002527;
	margin: 0 auto 1em auto;
	min-height: 100vh;
	padding-bottom: 1em;
}

section#members.row {
	margin: 0;
}

section#members div.member:last-of-type {
	margin-bottom: 2em;
}

section#members div.member {
	text-align: center;
	margin: 2em;
	padding: 1em;
	color: #001;
	background-color: #9AC0BA;
	box-shadow: 0 0 10px #002527;
}


section#members div.member img {
	max-width: 5em;
	max-height: 5em;
	border-radius: 50%;
	margin: 1em auto;
	display: block;
}

section#members div.member h3 {
	display: inline;
	font-size: 20px;
}

section#members div.member p {
	margin: 1em auto 0 auto;
	display: block;
}
